cantometrics
torchx
data/raw
DRH/glassenv
coniiis
*DS_Store
*/*DS_Store
lexibank-analysed
*.o
MPF_playground
julia_test
alg_test
MPF_CMU/mpf
MPF_CMU/mpf_AMD
MPF_CMU/PLOTS/*eps
MPF_CMU/TEST/*
MPF_CMU/TEST_COMP/*
data/analysis/configurations.txt
DRH/DRH_tests
data/COGSCI23/evo_raw
data/COGSCI23/evo_raw_1K
